* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Nunito Sans;
}

@font-face {
   font-family: Nunito Sans;
   src: url('../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

:root {
   --panel-bg: rgb(217, 217, 217, .68);
   --panel-dark-bg: rgb(217, 217, 217, .5);
   --element-bg: #E9E9E9;
}

body {
   width: 100%;
   min-height: 100vh;
   padding-top: 75px;
   padding-bottom: 100px;
   position: relative;
}
body:after {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   background-image: url('../img/background.webp');
   background-size: cover;
   background-repeat: no-repeat;
   background-image: bottom;
   width: 100%;
   height: 100vh;
   z-index: -1;
}

.panel-wrapper {
   width: 90%;
   max-width: 1700px;
   display: flex;
   margin: 0 auto;
   gap: 25px;
}


/* ADMIN MENU */
.admin-menu ul {
   list-style-type: none;
}
.admin-menu li a {
   display: block;
   font-size: 1.125em;
   width: 100%;
   text-align: center;
   padding: .5em 2em;
   background-color: var(--panel-dark-bg);
   border-radius: 200px;
   margin: 10px 0;
   color: white;
   cursor: pointer;
   text-decoration: none;
}
.admin-menu li a:first-child {
   margin-top: 0;
}
.admin-menu li a:hover {
   filter: brightness(.7);
}

li.current-page a {
   background-color: var(--panel-bg);
   pointer-events: none;
   position: relative;
   z-index: 2;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   color: black;
}
li.current-page a:after {
   content: '';
   background-color: var(--panel-bg);
   position: absolute;
   top: 0;
   right: 0;
   transform: translateX(100%);
   width: 25px;
   height: 42px;
}


/* ADMIN PANEL */
.panel-content-wrapper {
   background-color: var(--panel-bg);
   border-radius: 50px;
   width: 100%;
   min-height: 100%;
   padding: 40px 50px 50px;
   display: flex;
   flex-direction: column;
   gap: 32px;
   font-size: 1.125em;
}
.panel-content {
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.element {
   background-color: var(--element-bg);
   padding: 30px 45px;
   border-radius: 25px;
}
.filters-wrapper {
   display: flex;
   flex-direction: column;
   gap: 25px;
}
#filters-form {
   display: flex;
   gap: 20px;
}
#filters-form select, #filters-form input {
   background-color: var(--element-bg);
   border: none;
   width: 235px;
   height: 42px;
   padding: .5em 1em;
   border-radius: 200px;
   font-weight: 700;
   color: #7B7B7B;
   outline: none;
   font-size: .8em;
}
#new-product-btn {
   background-color: var(--element-bg);
   border: none;
   height: 42px;
   width: 42px;
   border-radius: 50%;
   outline: none;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: all .15s ease;
}
#new-product-btn img {
   width: 20px;
}
#submit-filters {
   background-color: var(--element-bg);
   border: none;
   height: 42px;
   padding-inline: 20px;
   border-radius: 200px;
   outline: none;
   cursor: pointer;
   transition: all .15s ease;
   font-weight: 700;
   color: #7B7B7B;
   font-size: .8em;
}


/* ORDERS */
.order {
   position: relative;
}
.toggle-arrow {
   position: absolute;
   width: fit-content;
   top: 20px;
   right: 20px;
   padding: 5px;
   transition: .25s all ease;
   cursor: pointer;
}
.toggle-arrow.open {
   rotate: -180deg;
   transform-origin: center;
}
.order, .order-bottom-left, .order-bottom-right {
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.order-top-details, .order-bottom-details {
   display: flex;
   width: 100%;
   gap: 50px;
}
.order-top-left, .order-bottom-left {
   width: 67.5%;
}
.order-top-right, .order-bottom-right {
   width: 32.5%;
}
.client-data, .product-row{
   margin-left: 15px;
}
.client-data *, .product-row * {
   font-size: .95em;
}
.order-header {
   margin-bottom: 10px;
}
.client-data {
   display: flex;
   gap: 40px
}
.data-row {
   margin: 8px 0;
   display: flex;
   gap: 10px;
}
.status-change-row select {
   background-color: #D9D9D9;
   border: none;
   width: 235px;
   padding: .5em 1em;
   border-radius: 200px;
   font-weight: 700;
   color: #7B7B7B;
   outline: none;
   font-size: .8em;
}


/* PRODUCTS */
.product {
   display: flex;
   gap: 40px;
   width: 100%;
}
.product-img img {
   width: 100px;
}
.type-row i {
   text-transform: capitalize;
}
.sizes-table {
   display: flex;
   flex-direction: column;
   gap: 8px;
   font-size: .85em;
   margin-top: 5px;
}
.sizes-row {
   display: flex;
   gap: 3px;
   background-color: #D9D9D9;
   border-radius: 200px;
   padding: 3px 8px;
}
.size-cell {
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.sizes-table hr {
   border: none;
   width: 1px;
   background-color: black;
}
.product-action-btns-wrapper {
   margin-left: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.product-action-btns {
   display: flex;
   gap: 10px;
}
.action-btn {
   background: none;
   border: none;
   outline: none;
   cursor: pointer;
}
.product input {
   outline: none;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   padding: 3px 5px;
}
.product input:hover, .product input:focus {
   background-color: #cccccc;
}
#submit-edit {
   background-color: #cccccc;
   border: none;
   height: 42px;
   padding-inline: 20px;
   border-radius: 200px;
   outline: none;
   cursor: pointer;
   transition: all .15s ease;
   font-weight: 700;
   color: #7B7B7B;
   font-size: .8em;
}

/* new product form */
#new-product-btn:hover, #add-product-img-btn:hover, #submit-filters:hover {
   filter: brightness(.75);
}
#new-product-btn {
   transition: all .25s ease;
}
#new-product-btn.open {
   rotate: 135deg;
}
.product input {
   background-color: #D9D9D9;
   border: none;
   border-bottom: 1px solid black;
   width: unset;
}
.product select {
   background-color: #D9D9D9;
   border: none;
   width: unset;
   padding: 6px 20px;
   border-radius: 200px;
}
.new-product-form fieldset {
   border: none;
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.new-img-input-row {
   width: 265px;
}
.delete-new-img {
   background-color: transparent;
   border: none;
   cursor: pointer;
   height: 1.05em;
   width: 1.05em;
   margin-left: 2px;
}
.delete-new-img img {
   background-color: transparent;
   border: none;
   cursor: pointer;
   height: 1.05em;
   width: 1.05em;
   transform: rotate(45deg);
}
#add-product-img-btn {
   background-color: #cccccc;
   border: none;
   height: 30px;
   width: 30px;
   border-radius: 50%;
   outline: none;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin-top: 6px;
   transition: all .15s ease;
}
#add-product-img-btn img {
   width: 12px;
}

.new-product-img {
   display: flex;
   flex-direction: column;
}
.product input[type="file"] {
   border-bottom: none;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   width: 225px;
}
.edit-cell {
   width: 62px;
}
.sizes-table input {
   width: 56px;
}
.new-product-action-btns {
   align-items: end;
}
.product-save {
   background-color: #D9D9D9;
   padding: 6px 20px;
   border-radius: 200px;
   font-size: 1em;
}
.product-edit-save {
   display: none;
}