/* ============================= */
/* ===== VARIABLES & SETUP ===== */
/* ============================= */

:root {
   --white: #fff;
   --black: #0A0A0A;
   --grey-primary: #B4B4B4;
   --grey-brigter: #C0C0C0;
   --grey-darker: #808080;
   --navy-blue: #06157F;

   --wallpaper: #008081;
}

@font-face {
   font-family: Sysfont;
   src: url('../../assets/fonts/sysfont.otf') format(opentype);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Sysfont;
}

body {
   background-color: black;
}




/* =================== */
/* ===== BUTTONS ===== */
/* =================== */

.landing-btn {
   background-color: var(--grey-brigter);
   width: 70px;
   height: 40px;
   border: none;
   outline: none;
   border-radius: 150px;
   position: relative;
   cursor: pointer;
   box-shadow: inset 0px 0px 8px var(--black);
   transition: all .25s ease;
   -webkit-tap-highlight-color: transparent;
}
.landing-btn-toggle {
   position: absolute;
   top: 2px;
   left: 2px;
   display: block;
   height: 36px;
   width: 36px;
   border-radius: 150px;
   background-color: var(--white);
   /* background-image: url('../../assets/img/icons/landing-button.svg');
   background-size: cover; */
   transition: all .25s ease;
}
.landing-btn-toggle.active {
   left: calc(100% - 38px);
   /* background-image: url('../../assets/img/icons/landing-button-active.svg'); */
}
.landing-btn:has(.landing-btn-toggle.active) {
   background-color: var(--grey-darker);
}




/* ======================== */
/* ===== LANDING PAGE ===== */
/* ======================== */

.landing-page-container {
   width: 110%;
   max-width: 850px;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 32px;
   margin: 25px auto 0;
   transform: translateX(-5%);
}
.landing-page-img {
   width: 100%;
   display: block;
}
.landing-links {
   margin-top: -75px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
}
.landing-link {
   color: var(--white);
   text-decoration: none;
   font-size: clamp(1.5rem, 3vw, 1.875rem);
}
.landing-link:hover {
   color: var(--grey-brigter);
}








/* --------=======================-------- */
/* -----======= MOBILE STYLES =======----- */
/* --------=======================-------- */


@media (max-width:900px) {


   /* =================== */
   /* ===== BUTTONS ===== */
   /* =================== */

   .landing-btn {
      width: 55px;
      height: 32px;
   }
   .landing-btn-toggle {
      height: 30px;
      width: 30px;
   }
   .landing-btn-toggle.active {
      left: calc(100% - 31px);
   }




   /* ======================== */
   /* ===== LANDING PAGE ===== */
   /* ======================== */
   
   .landing-page-container {
      gap: 24px;
   }
   .landing-links {
      margin-top: -50px;
   }


}