/* ============================= */
/* ===== VARIABLES & SETUP ===== */
/* ============================= */

:root {
   --white: #fff;
   --black: #0A0A0A;
   --grey-primary: #B4B4B4;
   --grey-brigter: #C0C0C0;
   --grey-darker: #808080;
   --navy-blue: #06157F;

   --wallpaper: #008081;
}

@font-face {
   font-family: Sysfont;
   src: url('../../assets/fonts/sysfont.otf') format(opentype);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Sysfont;
}

body {
   background-color: var(--grey-primary);
}




/* =================== */
/* ===== BUTTONS ===== */
/* =================== */

.btn-primary, .btn-secondary {
   padding: 0;
   border: none;
   outline: none;
   background-color: unset;
   cursor: pointer;
   padding: 6px 12px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
   font-size: 1.25em;
}
.btn-primary img, .btn-secondary img {
   height: 85%;
}
.btn-primary a, .btn-secondary a {
   color: currentColor;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
}
.btn-primary:hover, .btn-secondary:hover {
   filter: brightness(.9);
}

/* Primary Button */
.btn-primary {
   color: var(--black);
   background-color: var(--grey-primary);
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--white);
}

/*  Secondary Button */
.btn-secondary {
   color: var(--white);
   background-color: var(--navy-blue);
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px #050A2D, inset 2px 2px 0px var(--white);
}

/* Buttons active style */
.btn-primary-clicked {
   box-shadow: inset 2px 2px 0px var(--black), inset -2px -2px 0px var(--white);
   background: url('../../assets/img/elem-parts/btn-focus-bg.svg');
}
.btn-primary-active-bg:active {
   box-shadow: inset 2px 2px 0px var(--black), inset -2px -2px 0px var(--white);
   background: url('../../assets/img/elem-parts/btn-focus-bg.svg');
}
.btn-primary-focus-bg:focus {
   box-shadow: inset 2px 2px 0px var(--black), inset -2px -2px 0px var(--white);
   background: url('../../assets/img/elem-parts/btn-focus-bg.svg');
}

/* Primary dashed */
.btn-primary-dashed {
   position: relative;
}
.btn-primary-dashed:after {
   position: absolute;
   content: '';
   width: calc(100% - 10px);
   height: calc(100% - 10px);
   top: 4px;
   left: 4px;
   border: 1px dashed var(--black);
}




/* =================== */
/* ===== DESKTOP ===== */
/* =================== */

.desktop {
   background: var(--wallpaper);
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.desktop-folders {
   width: 75%;
   max-width: 1400px;
   position: absolute;
   top: 25px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.25rem;
   color: white;
}
.desktop-folder {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
   cursor: pointer;
}
.cart-desktop-folder {
   width: 50px;
}

/* empty cart modal */
#empty-cart-modal {
   top: 50%;
   left: 50%;
   transform: translatex(-50%) translatey(-50%);
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-darker), inset 4px 4px 0px var(--white);
   padding: 8px 8px 35px;
   background: var(--grey-primary);
   font-size: 1rem;
   width: 300px;
   width: clamp(310px, 25%, 500px);
   border: none;
   outline: none;
}
#close-empty-cart-modal {
   cursor: pointer;
}
#close-empty-cart-modal.btn-primary {
   width: 100px;
   font-size: 1.2em;
}
.empty-cart-modal-content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 15px;
   padding: 10px 0;
}
.empty-cart-modal-content p {
   margin: 10px 0px 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   font-size: 1.25em;
   width: 100%;
   text-align: center;
   padding-inline: 8px;
}
.empty-cart-modal-content p img {
   width: 50px;
}




/* ============================ */
/* ===== CUSTOM SCROLLBAR ===== */
/* ============================ */

/* width */
::-webkit-scrollbar {
   width: 20px;
} 
/* Track */
::-webkit-scrollbar-track {
background-color: var(--grey-primary);
background-image: url('../../assets/img/elem-parts/scrollbar-bg.svg');
} 
/* Handle */
::-webkit-scrollbar-thumb {
background: var(--grey-primary);
box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-brigter), inset 4px 4px 0px var(--white);
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--grey-darker);
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
   background-color: var(--grey-primary);
   display: block;
   width: 20px;
   height: 20px;
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-brigter), inset 4px 4px 0px var(--white);
}
::-webkit-scrollbar-button:single-button:hover {
   background-color: var(--grey-darker);
}
::-webkit-scrollbar-button:single-button:decrement {
   background-image: url('../../assets/img/elem-parts/scrollbar-arrow-up.svg');
   background-size: 60% 60%;
   background-position: center;
}
::-webkit-scrollbar-button:single-button:increment {
   background-image: url('../../assets/img/elem-parts/scrollbar-arrow-down.svg');
   background-size: 60% 60%;
   background-position: center;
}



/* ========================== */
/* ===== DEFAULT WINDOW ===== */
/* ========================== */

.content-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 75px;
   margin-top: 25px;
   height: 75vh;
   overflow-y:auto ;
   position: relative;
   z-index: 10;
   justify-items: center;
   width: clamp(300px, 75%, 1300px);
}
.no-scrollbar-container::-webkit-scrollbar {
   display: none;
}

/* product container */
.window-container {
   position: relative;
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-darker), inset 4px 4px 0px var(--white);
   padding: 8px;
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 100%;
   background: var(--grey-primary);
   aspect-ratio: 1/.8;
}
.window-container.big {
   font-size: 1rem;
}
/* small windows from product site */
.window-container.small {
   font-size: clamp(.6rem, 4vw, .8rem);
}
.window-container.small .window-container-icon {
   width: 26px;
}
.window-container.small .window-container-close-icon {
   width: 24px;
   height: 24px;
}

.window-container-topbar {
   background: var(--navy-blue);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 3px 4px;
}
.window-container-topbar-left {
   display: flex;
   justify-content: left;
   align-items: center;
   color: var(--white);
   gap: 8px;
   font-size: 1.15em;
}
.window-container-icon {
   width: 30px;
}
.window-container-close-icon {
   width: 28px;
   height: 28px;
   background-color: unset;
   border: none;
   outline: none;
}
.window-container-close-icon img {
   width: 100%;
}



/* =========================== */
/* ===== SHOP & PRODUCTS ===== */
/* =========================== */

/* product image */
.white-window-container {
   display: block;
   background: var(--white);
   width: 100%;
   height: 100%;
   position: relative;
   box-shadow: inset 2px 2px 0px var(--grey-darker), inset 4px 4px 0px var(--black), inset -2px -2px 0px var(--white), inset -4px -4px 0px var(--grey-primary), inset -6px -6px 0px var(--grey-darker), inset 6px 0px 0px var(--grey-darker);
}

/* product footer */
.default-product-data {
   display: flex;
   width: 100%;
   gap: 5px;
}
.default-product-quantity,
.default-product-price {
   background: var(--grey-brigter);
   padding: 10px 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: inset 1px 1px 0px var(--grey-darker), inset -1px -1px 0px var(--white);
}
.default-product-quantity {
   width: 55%;
}
.default-product-price {
   width: 45%;
   position: relative;
}
.corner {
   position: absolute;
   bottom: 1px;
   right: 1px;
   height: 50%;
}




/* ================== */
/* ===== FOOTER ===== */
/* ================== */

.footer-toolbar {
   background: var(--grey-primary);
   width: 100%;
   position: absolute;
   bottom: 53px;
   left: 0;
   padding: 6px 5px 8px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 2px solid white;
   flex-wrap: wrap;
   gap: 5px;
   z-index: 100;
   transform: translateY(100%);
}
.footer-elem a {
   height: 100% !important;
}

/* MAIN MENU */
.menu-start {
   display: flex;
   list-style-type: none;
   gap: 7px;
   flex-wrap: wrap;
}

/* submenu */
.menu-start-submenu-container {
   position: absolute;
   top: 0;
   left: 5px;
   transform: translateY(calc(-100% - 3px));
   background-color: var(--grey-primary);
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-primary), inset 4px 4px 0px var(--white);
   z-index: 100;
   display: none;
}

.menu-stripe {
   background: var(--grey-darker);
   writing-mode: vertical-lr; 
   color: var(--grey-primary);
   padding: 10px 3px 10px 4px;
   box-shadow: inset 0px -2px 0px var(--black), inset 0px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-primary), inset 0px 4px 0px var(--white);
}
.menu-stripe p {
   rotate: 180deg;
   font-size: 1.75rem;
}
.menu-stripe span {
   color: var(--white);
}

.menu-start-submenu {
   list-style-type: none;
   padding: 10px 7px 10px 0px;
}
.menu-start-submenu-item {
   justify-content: left;
   box-shadow: none;
}
.menu-start-submenu-item a {
   display: flex;
   align-items: center;
   justify-content: left;
   gap: 10px;
   text-decoration: none;
   color: var(--black);
   font-size: 1.25rem;
   padding: 5px 100px 5px 5px;
}
.menu-start-submenu-item a:hover {
   background: var(--navy-blue);
   color: var(--white);
   /* box-shadow: inset 0px 3px var(--white), inset 0px 5px var(--black), inset 0px -3px var(--white), inset 0px -5px var(--black); */
   filter: brightness(.9);
}
.menu-start-submenu-item img {
   width: 50px;
}
.menu-start-submenu-item:first-child a:hover {
   /* box-shadow: inset 0px 0px var(--white), inset 0px 0px var(--black), inset 0px -3px var(--white), inset 0px -5px var(--black); */
}
.menu-start-submenu-item:nth-last-child(2) a:hover {
   /* box-shadow: inset 0px 3px var(--white), inset 0px 5px var(--black), inset 0px 0px var(--white), inset 0px 0px var(--black); */
}
.menu-start-submenu-item:last-child {
   box-shadow: inset 0px 2px var(--grey-darker), inset 0px 4px var(--white);
}
.menu-start-submenu-item:last-child a:hover {
   box-shadow:  inset 0px 2px var(--grey-darker), inset 0px 4px var(--white);
}

/* Clock */
.clock {
   padding-inline: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   height: 37px;
   box-shadow: inset 2px 2px 0px var(--grey-darker), inset -2px -2px 0px var(--white);
   font-size: 1.15rem;
}








/* --------=======================-------- */
/* -----======= MOBILE STYLES =======----- */
/* --------=======================-------- */


@media(max-width: 900px) {

   /* =================== */
   /* ===== DESKTOP ===== */
   /* =================== */

   .desktop-folders {
      width: 90%;
   }

   /* =================== */
   /* ===== BUTTONS ===== */
   /* =================== */
   
   .btn-primary, .btn-secondary {
      padding: 4px 10px;
      gap: 5px;
      font-size: 1.1em;
   }
   .btn-primary img, .btn-secondary img {
      height: 80%;
   }
   .btn-primary a, .btn-secondary a {
      gap: 5px;
   }




   /* =================== */
   /* ===== DESKTOP ===== */
   /* =================== */
   
   .desktop {
      background: var(--wallpaper);
      width: 100%;
      height: calc(100vh - 49px);
      display: flex;
      justify-content: center;
      align-items: start;
   }


   

   /* ========================== */
   /* ===== DEFAULT WINDOW ===== */
   /* ========================== */

   .content-container {
      grid-template-columns: 1fr;
      height: calc(100vh - 275px);
      width: clamp(310px, 65%, 1300px);
      margin-top: 125px;
      gap: 35px;
   }




   /* ================== */
   /* ===== FOOTER ===== */
   /* ================== */
   
   .footer-toolbar {
      padding: 6px 5px 8px;
      bottom: 49px;
   }

   /* MAIN MENU */
   .menu-start {
      display: flex;
      list-style-type: none;
      gap: 5px;
   }
   .menu-start-item {
      height: 33px;
   }

   /* submenu */   
   .menu-stripe {
      padding: 8px 1px 8px 2px;
   }
   .menu-stripe p {
      font-size: 1.5rem;
   }
   
   .menu-start-submenu {
      padding: 10px 7px 10px 0px;
   }
   .menu-start-submenu-item a {
      gap: 10px;
      font-size: 1.125rem;
      padding: 5px 75px 5px 5px
   }
   .menu-start-submenu-item img {
      width: 40px;
   }

   /* Clock */
   .clock {
      padding: 4px 12px;
      height: 33px;
      font-size: 1.1rem;
   }

}