/* ============================= */
/* ===== VARIABLES & SETUP ===== */
/* ============================= */

:root {
   --white: #fff;
   --black: #0A0A0A;
   --grey-primary: #B4B4B4;
   --grey-brigter: #C0C0C0;
   --grey-darker: #808080;
   --navy-blue: #06157F;

   --wallpaper: #008081;
}

@font-face {
   font-family: Sysfont;
   src: url('../../assets/fonts/sysfont.otf') format(opentype);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Sysfont;
}




/* =================== */
/* ===== BUTTONS ===== */
/* =================== */

.btn-primary, .btn-secondary {
   padding: 0;
   border: none;
   outline: none;
   background-color: none;
}

/* Primary Button */
.btn-primary a {
   padding: 6px 12px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
   text-decoration: none;
   color: var(--black);
   background-color: var(--grey-primary);
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--white);
}
.btn-primary a:hover {
   filter: brightness(.9);
}
.btn-primary img {
   height: 85%;
}
.btn-link {
   cursor: pointer;
}

.btn-primary-clicked > a {
   box-shadow: inset 2px 2px 0px var(--black), inset -2px -2px 0px var(--white);
   background: url('../../assets/img/elem-parts/btn-focus-bg.svg');
}
.btn-primary-active-bg > a:active {
   box-shadow: inset 2px 2px 0px var(--black), inset -2px -2px 0px var(--white);
   background: url('../../assets/img/elem-parts/btn-focus-bg.svg');
}
.btn-primary-focus-bg > a:focus {
   box-shadow: inset 2px 2px 0px var(--black), inset -2px -2px 0px var(--white);
   background: url('../../assets/img/elem-parts/btn-focus-bg.svg');
}

/* Primary Secondary */
.btn-secondary a {
   padding: 6px 12px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
   text-decoration: none;
   color: var(--white);
   background-color: var(--navy-blue);
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px #050A2D, inset 2px 2px 0px var(--white);
}
.btn-secondary a:hover {
   filter: brightness(.9);
}
.btn-secondary img {
   height: 85%;
}
.btn-link {
   cursor: pointer;
}




/* =================== */
/* ===== DESKTOP ===== */
/* =================== */

.desktop {
   background: var(--wallpaper);
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.desktop-folder{
   position: absolute;
   top: 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 1.25rem;
   color: white;
   gap: 5px;

}
.cart-desktop-folder {
   width: 50px;
}
.menu-folder {
   left: 25px;
}
.cart-folder {
   right: 25px;  
}




/* ======================= */
/* ===== APPLICATION ===== */
/* ======================= */

.app-container {
   width: clamp(300px, 95%, 1300px);
   background: var(--grey-primary);
   min-height: 75vh;
   position: relative;
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-primary), inset 4px 4px 0px var(--white);
   padding: 10px;
}

/* Topbar */
.app-topbar {
   background: var(--navy-blue);
   padding: 6px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--white);
   font-size: .75rem;
   letter-spacing: 1px;
}
.left-app-topbar {
   display: flex;
   gap: 8px;
   align-items: center;
}
.app-icon {
   width: 25px;
}
.app-title {
   margin: 0;
   line-height: 100%;
}
.right-app-topbar {
   display: flex;
   align-items: center;
   gap: 2px;
}
.app-action-icon {
   display: block;
   width: 30px;
}




/* ============================ */
/* ===== CUSTOM SCROLLBAR ===== */
/* ============================ */

/* width */
::-webkit-scrollbar {
   width: 20px;
} 
/* Track */
::-webkit-scrollbar-track {
background-color: var(--grey-primary);
background-image: url('../../assets/img/elem-parts/scrollbar-bg.svg');
} 
/* Handle */
::-webkit-scrollbar-thumb {
background: var(--grey-primary);
box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-brigter), inset 4px 4px 0px var(--white);
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--grey-darker);
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
   background-color: var(--grey-primary);
   display: block;
   width: 20px;
   height: 20px;
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-brigter), inset 4px 4px 0px var(--white);
}
::-webkit-scrollbar-button:single-button:hover {
   background-color: var(--grey-darker);
}
::-webkit-scrollbar-button:single-button:decrement {
   background-image: url('../../assets/img/elem-parts/scrollbar-arrow-up.svg');
   background-size: 60% 60%;
   background-position: center;
}
::-webkit-scrollbar-button:single-button:increment {
   background-image: url('../../assets/img/elem-parts/scrollbar-arrow-down.svg');
   background-size: 60% 60%;
   background-position: center;
}



/* ================ */
/* ===== SHOP ===== */
/* ================ */

.content-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   margin-top: 25px;
   height: 75vh;
   overflow-y:auto ;
   position: relative;
   z-index: 10;
   justify-items: center;
   width: clamp(300px, 95%, 1300px);
}
.no-scrollbar-container::-webkit-scrollbar {
   display: none;
}

/* product container */
.window-container {
   /* height: 575px; */
   position: relative;
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-darker), inset 4px 4px 0px var(--white);
   padding: 8px;
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 100%;
   background: var(--grey-primary);
   aspect-ratio: 1/.8;
}
.window-container.big{
   font-size: 1rem;
}

.window-container-topbar {
   background: var(--navy-blue);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 3px;
}
.window-container-topbar-left {
   display: flex;
   justify-content: left;
   align-items: center;
   color: var(--white);
   gap: 8px;
   font-size: 1.15em;
}
.window-container-icon {
   width: 30px;
}
.window-container-close-icon {
   width: 28px;
}

/* product image */
.white-window-container {
   display: block;
   background: var(--white);
   width: 100%;
   height: 100%;
   position: relative;
   box-shadow: inset 2px 2px 0px var(--grey-darker), inset 4px 4px 0px var(--black), inset -2px -2px 0px var(--white), inset -4px -4px 0px var(--grey-primary), inset -6px -6px 0px var(--grey-darker), inset 6px 0px 0px var(--grey-darker);
}

/* product footer */
.default-product-data {
   display: flex;
   width: 100%;
   gap: 5px;
}
.default-product-quantity,
.default-product-price {
   background: var(--grey-brigter);
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: inset 1px 1px 0px var(--grey-darker), inset -1px -1px 0px var(--white);
}
.default-product-quantity {
   width: 60%;
}
.default-product-price {
   width: 40%;
   position: relative;
}
.corner {
   position: absolute;
   bottom: 1px;
   right: 1px;
   height: 50%;
}




/* ======================== */
/* ===== PRODUCT SITE ===== */
/* ======================== */

.product-container {
   width: clamp(300px, 95%, 1300px);
   height: 75vh;
   display: flex;
   gap: 20px;
   margin-top: 25px;
   overflow-y:auto ;
   position: relative;
   z-index: 10;
}
.product-container .default-product {
   height: 100%;
   width: 50%;
}
.character-container {
   width: 50%;
}




/* ================== */
/* ===== FOOTER ===== */
/* ================== */

.footer-toolbar {
   background: var(--grey-primary);
   width: 100%;
   height: 50px;
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 6px 5px 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 2px solid white;
}
.footer-elem a {
   height: 100% !important;
   font-size: 1.15rem;
}

/* MAIN MENU */
.menu-start {
   display: flex;
   list-style-type: none;
   gap: 15px;
}

/* submenu */
.menu-start-submenu-container {
   position: absolute;
   top: 0;
   left: 5px;
   transform: translateY(calc(-100% - 3px));
   background-color: var(--grey-primary);
   box-shadow: inset -2px -2px 0px var(--black), inset -4px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-primary), inset 4px 4px 0px var(--white);
   z-index: 100;
   display: none;
}

.menu-stripe {
   background: var(--grey-darker);
   writing-mode: vertical-lr; 
   color: var(--grey-primary);
   padding: 10px 3px 10px 4px;
   box-shadow: inset 0px -2px 0px var(--black), inset 0px -4px 0px var(--grey-darker), inset 2px 2px 0px var(--grey-primary), inset 0px 4px 0px var(--white);
}
.menu-stripe p {
   rotate: 180deg;
   font-size: 1.75rem;
}
.menu-stripe span {
   color: var(--white);
}

.menu-start-submenu {
   list-style-type: none;
   padding: 10px 7px 10px 0px;
}
.menu-start-submenu-item {
   justify-content: left;
   box-shadow: none;
}
.menu-start-submenu-item a {
   display: flex;
   align-items: center;
   justify-content: left;
   gap: 10px;
   text-decoration: none;
   color: var(--black);
   font-size: 1.25rem;
   padding: 5px 45px 5px 5px;
}
.menu-start-submenu-item a:hover {
   background: var(--grey-primary);
   box-shadow: inset 0px 2px 0px var(--grey-darker), inset 0px 4px 0px var(--white), inset 0px -2px 0px var(--grey-darker), inset 0px -4px 0px var(--white);
   filter: brightness(.9);
}
.menu-start-submenu-item img {
   width: 50px;
}
.menu-start-submenu-item:first-child a:hover {
   box-shadow: inset 0px 0px 0px var(--grey-darker), inset 0px 0px 0px var(--white), inset 0px -2px 0px var(--grey-darker), inset 0px -4px 0px var(--white);
}
.menu-start-submenu-item:nth-last-child(2) a:hover {
   box-shadow: inset 0px 2px 0px var(--grey-darker), inset 0px 4px 0px var(--white), inset 0px 0px 0px var(--grey-darker), inset 0px 0px 0px var(--white);
}
.menu-start-submenu-item:last-child {
   box-shadow: inset 0px 2px 0px var(--grey-darker), inset 0px 4px 0px var(--white);
}
.menu-start-submenu-item:last-child a:hover {
   box-shadow: inset 0px 2px 0px var(--grey-darker), inset 0px 4px 0px var(--white);
}

/* Clock */
.clock {
   padding-inline: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   height: calc(100% + 5px);
   box-shadow: inset 2px 2px 0px var(--grey-darker), inset -2px -2px 0px var(--white);
   font-size: 1.15rem;
}


/* 
@media(max-width: 900px) {
   .shop-app-products-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      padding: 20px;
      margin-top: 25px;
      height: 60vh;
   }
   .default-product {
      max-width: 600px;
      height: 350px;
   }
} */