/* ============================= */
/* ===== VARIABLES & SETUP ===== */
/* ============================= */

:root {
   --white: #fff;
   --black: #0A0A0A;
   --grey-primary: #B4B4B4;
   --grey-brigter: #C0C0C0;
   --grey-darker: #808080;
   --navy-blue: #06157F;

   --wallpaper: #008081;
}




/* ===================== */
/* ===== CONTAINER ===== */
/* ===================== */




/* ================= */
/* ===== PAINT ===== */
/* ================= */

/* Working area */
.paint-working-part {
   display: flex;
   flex-direction: column;
   gap: 15px;
   height: 100%;
   justify-content: space-between;
}
.paint-main {
   display: flex;
   height: 100%;
}
.paint-tools {
   padding: 2px 15px 0;
   box-shadow: inset 0 2px var(--grey-darker), inset 0 4px var(--white);
}
.paint-tools img {
   width: 90px;
}
.paint-canvas {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
   gap: 75px;
}
.canvas-drawing {
   width: 50%;
}
.canvas-writing {
   width: 45%;
}
.paint-colors img {
   height: 60px;
}

.default-product-data {
   height: 45px;
   position: relative;
   display: flex;
   justify-content: left;
   border-top: 2px solid var(--white);
   padding-top: 5px;
}
.dpp-1 {
   width: 55%;
   justify-content: left;
   font-size: 1.5em;
   padding-left: 10px;
}
.dpp-2, .dpp-3 {
   width: 20%;
}