/* ============================= */
/* ===== VARIABLES & SETUP ===== */
/* ============================= */

:root {
   --white: #fff;
   --black: #0A0A0A;
   --grey-primary: #B4B4B4;
   --grey-brigter: #C0C0C0;
   --grey-darker: #808080;
   --navy-blue: #06157F;

   --wallpaper: #008081;
}


@media(min-height: 950px) {
   .website-wrapper {
      display: flex;
      align-items: center;
   }
}





/* ================ */
/* ===== WORD ===== */
/* ================ */
.word {
   padding-bottom: 25px;
   height: 85vh;
}
.word-editor-container, .word-page-container {
   height: 100%;
}
.word-editor-container {
   display: flex;
   width: 100%;
   border-top: 2px solid var(--grey-darker);
   border-left: 2px solid var(--grey-darker);
   border-bottom: 2px solid var(--white);
   border-right: 2px solid var(--white);
   overflow-y: auto;
   overflow-x: hidden;
   position: relative;
}
.word-editor-wrapper {
   display: flex;
   width: 100%;
}
.word-page-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
}
.word-page {
   display: flex;
   justify-content: center;
   padding-bottom: 75px;
   height: max-content;
}

/* rubbers */
.rubber {
   display: flex;
   justify-content: center;
   position: relative;
   flex-shrink: 0;
   background-color: var(--grey-primary);
}
.left-rubber {
   width: 25px;
   height: 100%;
}
.left-rubber::after {
   position: absolute;
   content: '';
   width: 50%;
   height: 98%;
   top: 12.5px;
   left: 50%;
   transform: translateX(-50%);
   box-sizing: border-box;
   background-image: url('../../assets/img/elem-parts/word-vertical-rubber.svg');
   background-size: 100%;
}
.top-rubber {
   width: 100%;
   height: 25px;
   position: sticky;
   left: 0;
   top: 0;
   z-index: 10;
   align-items: center;
}
.top-rubber::after {
   position: absolute;
   content: '';
   width: 98%;
   height: 50%;
   top: 50%;
   left: 12.5px;
   transform: translateY(-50%);
   box-sizing: border-box;
   background-image: url('../../assets/img/elem-parts/word-horizontal-rubber.svg');
   background-size: contain;
}

.white-rubber-area {
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-bottom: 1px solid var(--grey-darker);
   border-right: 1px solid var(--grey-darker);
   background-color: var(--white);
}
.left-rubber .white-rubber-area {
   display: block;
   width: calc(100% - 4px);
   height: calc(100% - 135px);
   margin: 100px 2px 25px;
}
.top-rubber .white-rubber-area {
   display: block;
   width: 80%;
   height: calc(100% - 4px);
   margin: 2px 0;
}

/* page content */
.word-page-content, .word-page-content * {
   font-family: 'Times New Roman', Times, serif !important;
}
.word-page-content {
   display: flex;
   flex-direction: column;
   width: 80%;
   padding-top: 75px;
   min-height: calc(100%);
   font-size: 1.125em;
}
.word-page-header {     /* wordart */
   display: block;
   width: 60%;
   max-width: 400px;
   margin-bottom: 75px;
   margin-left: auto;
   margin-right: auto;
}
.word-page-content p {
   margin-bottom: 15px;
}
.word-page-content h2 {
   margin-bottom: 25px;
   margin-top: 25px;
}
.word-page-content h3 {
   margin-bottom: 10px;
}
.word-page-content ul, .word-page-content ol {
   margin-bottom: 15px;
   margin-left: 25px;
}
.word-page-content ul li, .word-page-content ol li {
   margin-bottom: 5px;
}








/* --------=======================-------- */
/* -----======= MOBILE STYLES =======----- */
/* --------=======================-------- */


@media(max-width: 950px) {

   .word {
      height: calc(80vh - 75px);
   }

   .left-rubber {
      width: 20px;
   }
   .left-rubber::after {
      top: 10px;
   }
   .top-rubber {
      height: 20px;
   }
   .top-rubber::after {
      left: 10px;
   }

   .word-page-header {     /* wordart */
      width: 70%;
      max-width: 350px;
      margin-bottom: 25px;
   }
   .word-page-content p {
      margin-bottom: 10px;
   }
   .word-page-content h2 {
      margin-bottom: 15px;
      margin-top: 20px;
   }
   .word-page-content h3 {
      margin-bottom: 10px;
   }
   .word-page-content ul, .word-page-content ol {
      margin-bottom: 10px;
      margin-left: 20px;
   }
   .word-page-content ul li, .word-page-content ol li {
      margin-bottom: 5px;
   }

}


@media(max-width: 550px) {

   .left-rubber, .top-rubber {
      display: none;
   }

   .word-page-header {     /* wordart */
      width: 70%;
      max-width: 350px;
      margin-bottom: 25px;
   }
   .word-page-content p {
      margin-bottom: 10px;
   }
   .word-page-content h2 {
      margin-bottom: 15px;
      margin-top: 20px;
   }
   .word-page-content h3 {
      margin-bottom: 10px;
   }
   .word-page-content ul, .word-page-content ol {
      margin-bottom: 10px;
      margin-left: 20px;
   }
   .word-page-content ul li, .word-page-content ol li {
      margin-bottom: 5px;
   }

}